<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:salario]} type="number" label="Salario" />
  <.input field={f[:rendaextra]} type="number" label="Renda extra" />
  <.input field={f[:total]} type="number" label="Total" />
  <:actions>
    <.button>Salvar Receita</.button>
  </:actions>
</.simple_form>
