<.header>
  New Saldoo
  <:subtitle>Use this form to manage saldoo records in your database.</:subtitle>
</.header>

<.saldoo_form changeset={@changeset} action={~p"/saldos"} />

<.back navigate={~p"/saldos"}>Back to saldos</.back>
