<.header>
 Novo Saldo
  <:subtitle>Altere os dados do seu saldo.</:subtitle>
</.header>

<.saldo_form changeset={@changeset} action={~p"/saldototal"} />

<.back navigate={~p"/saldototal"}>Voltar para saldo total</.back>
